<!doctype html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<link href="bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="styles.css" rel="stylesheet" type="text/css"/>
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
		<!--[if lte IE 8]>
    		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
		<![endif]-->
		<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
	</head>
	<body>
		<div class="container-fluid">
    		<%= yield %>
    	</div>
	</body>
</html>